<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664667660844-dhdolgm4i9i9n28f8p2iu0788mlnq5cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664667660844-dhdolgm4i9i9n28f8p2iu0788mlnq5cv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>664667660844-58tej3ks5jqujictj1v4lhnltjdp8sv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg7RZ7SPW6HyLdRDIYehBurMZlUtfbF10</string>
	<key>GCM_SENDER_ID</key>
	<string>664667660844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dgarces.librodecobrosapp</string>
	<key>PROJECT_ID</key>
	<string>proyecto-cobros</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-cobros.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664667660844:ios:8fac325a6e549b70cc2789</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto-cobros.firebaseio.com</string>
</dict>
</plist>